[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
sympy = "*"
pep8 = "*"
nb-black = "*"
flake8 = "*"
pycodestyle-magic = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
